/* .theme {
  color: #7f5d35;
  color: #fff153;
  color: #ee6f30;
  color: #f35337;
}
*/

.navbar {
  background-color: rgb(201, 216, 216);
}


:root {
  --bs-body-bg: #e0e0e0;
}

.product {
  font-size: calc(.75rem + 1.5vw); 
  font-weight: 300;
  line-height: 1.2;
}

.expandable-boxes {
  position: relative;
}

.expandable-box {
  width: 30%;
  /* background-color: #7f5d35; */
  /* min-height: 100px;  */
  min-height: calc(7rem + 1.5vw);
  float: left;
  margin: 0 3% 20px 0;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.current-firmware {
  background-color: rgb(201, 216, 216);
}

.discontinued-firmware {
  background-color: #929292;
}

.hidden {
    display: none;
}

.open {
    border-color: #424141;
    width: 96%;
    /* height: 180px; */
    margin: 0;
}
  
.out {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
}
