Dear {{ name }},

{% if testing %}
<h1>This is a TEST MESSAGE please disregard!</h1>
{% endif %}
{% if versions %}
I found new firmware today!
  <ul>
    {% for version in versions %} 
      <li>{{version.name}} --> {{version.number}} --> {{version.download_url}}   {{version.download_page}}</li>
    {% endfor %}
  </ul>
{% else %}
I didn't find any firmware today :(
{% endif %}

{% if searches %}
  {% if developer %}
Failed Searches:
<ul>  
  {% for search in searches %}
  <li>{{ search }}</li>
  {% endfor %}
</ul>
  {% endif %}
{% endif %}

Thanks,

<i>Turkish Johnny!</i>
