<div class="container-md text-center">
  <div class="row">
    <div class="col">
      <br>
    </div>
  </div>
  <div class="row g-2">
  {% for product in products %}
      <div class="col col-3 expandable-box {% if product.discontinued %}discontinued-firmware{% else %}current-firmware{% endif %}">
       
        <div class="clickable">
          <span class="product" title="{{ product.name }} {% if product.discontinued %}*Discontinued*{% endif %}">{{ product.name}}</span>
        </div>
        <div class="firmwares hidden">
          <small class="text-left">
            {% for associated_name in product.associated_names.all %}
            {% if forloop.last %}
              {{associated_name}}
            {% else %}
              {{associated_name}},
            {% endif %}
          {% endfor %}
          </small>
          <p>
          {% for fg in product.fgs.all %}
            {% if forloop.last %}
              {{fg}}
            {% else %}
              {{fg}},
            {% endif %}
          {% endfor %}
          </p>
        </div>
        <ul class="list-group firmwares hidden">
          
          {% for version in product.fgs.all.0.version_set.all|dictsortreversed:"number" %}
 
          <a href="{% if not version.hotfix %}{{ product.brand.base_url }}{% endif %}{{ version.download_page }}" target="_blank" 
            title="{% if version.hotfix %}Hotfix Firmware{% else %}Release Firmware{% endif %}" 
            class="list-group-item list-group-item-action flex-column align-items-start list-group-item
                      {% if version.hotfix %}
                        list-group-item-warning
                      {% else %}
                        list-group-item-success
                      {% endif %}">
                      
            <div class="d-flex w-120 justify-content-between">
              <h5 class="mb-1">{{version.number}}   {{version.name}}</h5>
              <small>Last Seen: {{ version.date_last_seen|date:"d-M-Y" }}</small>
            </div>
          </a>
            <div class="d-flex w-120 justify-content-between">
              {% if version.read_me %}
                {% if version.read_me != "Unable to find readme" %}
                  <textarea style="min-width: 100%;" rows="6">{{version.read_me}}</textarea>
                {% endif %}
              {% endif %}
            </div>
 
            
          {% endfor %}

        </ul>


      </div>
    


    {% empty %}
      <h2>Sorry, no products found....</h2>
    {% endfor %}
    </div>
</div>