{% extends "firmware/base.html" %}

{% block content %}

<div class="container-md text-center">
  {% for product in products %}
    {% if forloop.counter|divisibleby:3 %}<div class="row">{% endif %}
      <div class="col col-lg expandable-box">
        <span class="product">{{ product.name }}</span>
        <h6>
          {% for fg in product.fgs.all %}
            {% if forloop.last %}
              {{fg}}
            {% else %}
              {{fg}},
            {% endif %}
          {% endfor %}
        </h6>
        <ul class="list-group firmwares d-none">
            
          {% for version in product.fgs.all.0.version_set.all|dictsortreversed:"number" %}

          <a href="{% if not version.hotfix %}{{ product.brand.base_url }}{% endif %}{{ version.download_page }}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start list-group-item {% if version.hotfix %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
            <div class="d-flex w-120 justify-content-between">
              <h5 class="mb-1">{{version.number}}   {{version.name}}</h5>
              <small>Last Seen: {{ version.date_last_seen|date:"d-M-Y" }}</small>
            </div>
          </a>
            <div class="d-flex w-120 justify-content-between">
              {% if version.read_me %}
                {% if version.read_me != "Unable to find readme" %}
                  <textarea style="min-width: 100%;" rows="6">{{version.read_me}}</textarea>
                {% endif %}
              {% endif %}
            </div>
 
            
          {% endfor %}

        </ul>


      </div>
      {% if forloop.counter|divisibleby:3 %}</div>{% endif %}


    {% empty %}
      <h2>No {% if active == 'discontinued' %} discontinued {% endif %}products found....</h2>
    {% endfor %}
</div>



{% endblock %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
    $('.firmwares').click(function(e){
      // Don't act on clicks in read_me
      e.stopPropagation()
      return
    })

    $('.expandable-box').click(function(e) {


      if($(this).hasClass('open')) {
        $('.expandable-box.out').not($(this)).removeClass('out');
        $(this).removeClass('open');

        $(this).find('.firmwares').addClass('d-none')

      } else if($(this).hasClass('out')) {
        console.log("Clicked on something that is hidden")
        return
      } else {

        $(this).find('.firmwares').removeClass('d-none')
        
        $('.expandable-box').not($(this)).addClass('out');
        $(this).addClass('open');

      }
    });
  });
</script>
{% endblock %}