{% extends "firmware/base.html" %}



{% block content %}
<div class="container">
  <div class="accordion" id="accordionExample">
    {% for product in products %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ product.id }}">
        <button class="accordion-button text-center d-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ product.id }}" aria-expanded="true" aria-controls="collapse{{ product.id}}">
           
          <figure>
            <blockquote class="blockquote">
              <p>{{ product.name }}</p>
            </blockquote>

              <h6>
                  {% for fg in product.fgs.all %}
                    {% if forloop.last %}
                      {{fg}}
                    {% else %}
                      {{fg}},
                    {% endif %}
                  {% endfor %}
              </h6>

          </figure>
        </button>
      </h2>
      <div id="collapse{{ product.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ product.id }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2><a href="{{ product.brand.base_url }}/en-US/products/{{ product.name }}"></a></h2>
          <div class="list-group">
            
              {% for version in product.fgs.all.0.version_set.all|dictsortreversed:"number" %}
              <a href="{% if not version.hotfix %}{{ product.brand.base_url }}{% endif %}{{ version.download_page }}" target="_blank" class="list-group-item {% if version.hotfix %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
                {{version.number}}   {{version.name}}
              </a>
                {% if version.read_me %}
                  <textarea rows="6">{{version.read_me}}</textarea>
                {% endif %}
              {% endfor %}

          </div>
          
            
        </div>
      </div>
    </div>
    {% empty %}
      <h2>No products found</h2>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block extrajs %}

{% endblock %}