<li title="{% if version.hotfix %}Hotfix Firmware{% else %}Release Firmware{% endif %}" 
  class="list-group-item list-group-item-action flex-column align-items-start list-group-item readme-button
          {% if version.hotfix %}
              list-group-item-warning
          {% else %}
              list-group-item-success
          {% endif %}">
  <div class="d-flex justify-content-between">
    <h5 class="mb-1">{{version.name}} 
      {% if version.hotfix %}
        <i class="bi bi-fire"></i>
      {% else %}
        <i class="bi bi-list-check"></i>
      {% endif %}
    </h5>
    <a href="{{ version.download_page }}" target="_blank" class="btn btn-outline-success download-button">Download <span class="badge rounded-pill bg-secondary">
      {{version.number}} 
      </span>
    </a>
  </div>

  <div class="d-flex justify-content-between">
    <small>Last seen on the website: {{ version.date_last_seen|date:"d-M-Y" }}</small>
      {% if show_local %}
        {% if version.local_file %}
          <a href="{% url 'firmware:download' version.id %}" class="btn btn-outline-success download-button m-1">Local Copy</a>
        {% endif %}
      {% endif %}
  </div>

  <div class="d-flex justify-content-between">
    <small> </small>
      {% if show_local %}
         <a href="{% url 'firmware:product-list'%}?link={{product.name}}" class="btn btn-outline-success download-button m-1">Link to page</a>
      {% endif %}
  </div>

  {% if version.read_me %}
    {% if version.read_me != "Unable to find readme" %}
      <textarea class="readme" rows="20">{{version.read_me}}</textarea>
    {% else %}
      <textarea class="readme" rows="1">{{version.read_me}}</textarea>
    {% endif %}
  {% endif %}
</li>