{% extends "firmware/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% if form.errors %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>¡Holy guacamole! 🥑</strong><br>
      You should check in on some of those fields below.
    <ul>
      {% for error_field, error_message in form.errors.items %}
          {{ error_message|striptags }}
      {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

{% if validlink %}
<h1>Reset Password</h1>

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">
  {% csrf_token %}
  <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
  <div class="mb-3">
    <label for="id_new_password1" class="form-label">{% translate 'New password:' %}</label>
    <input type="password" name="new_password1" class="form-control" id="id_new_password1" aria-describedby="new_password1Help" value="{{ form.new_password1.value|default:'' }}" required>
    <div id="new_password1Help" class="form-text">Please enter your new password.</div>
  </div>
  <div class="mb-3">
    <label for="id_new_password2" class="form-label">{% translate 'New password:' %}</label>
    <input type="password" name="new_password2" class="form-control" id="id_new_password2" aria-describedby="new_password2Help" value="{{ form.new_password2.value|default:'' }}" required>
    <div id="new_password2Help" class="form-text">Please enter your new password.</div>
  </div>
  <button type="submit" value="Submit" class="btn btn-outline-success download-button">{% translate 'Change my password' %}</button>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
