{% extends "firmware/base.html" %}
{% load static %}

{% block extra_head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %} 


<h1>Register</h1>
{% if form.errors %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>¡Holy guacamole! 🥑</strong><br>
      You should check in on some of those fields below.
    <ul>
      {% for error_field, error_message in form.errors.items %}
          {{ error_message|striptags }}
      {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

<form method="post">
  {% csrf_token %}
  <div class="input-group mb-3">
    <span class="input-group-text">First and last name</span>
    <input type="text" name="first_name" id="id_first_name" aria-label="First name" class="form-control" value="{{ form.first_name.value|default:'' }}" required>
    <input type="text" name="last_name" id="id_last_name" aria-label="Last name" class="form-control" value="{{ form.last_name.value|default:'' }}">
  </div>
  <div class="mb-3">
    <div class="input-group">
      <span class="input-group-text">Email address</span>
      <input type="email" name="email" class="form-control" id="id_email" aria-describedby="emailHelp" value="{{ form.email.value|default:'' }}" required>
    </div>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <div class="input-group">
      <span class="input-group-text">Password</span>
      <input type="password" name="password1" class="form-control" id="id_password1" aria-describedby="password1Help" value="{{ form.password1.value|default:'' }}" required>
    </div>
      <div id="password1Help" class="form-text">
        <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
          <ul>
            <li class="helptext">Your password can’t be too similar to your other personal information.</li>
            <li class="helptext">Your password must contain at least 8 characters.</li>
            <li class="helptext">Your password can’t be a commonly used password.</li>
            <li class="helptext">Your password can’t be entirely numeric.</li>
          </ul>
        </span>
    </div>
  </div>
  <div class="mb-3">
    <div class="input-group">
      <span class="input-group-text">Password Confirmation</span>
      <input type="password" name="password2" class="form-control" id="id_password2" aria-describedby="password2Help" value="{{ form.password2.value|default:'' }}" required>
    </div>
    <div id="password2Help" class="form-text"><span class="helptext">Enter the same password as before, for verification.</span></div>
  </div>
  
  <div class="mb-3">
    <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div>
  </div>
  <button type="submit" value="Submit" class="btn btn-outline-success download-button">Submit</button>
  <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</form>



{% endblock %}

{% block extrajs %}
{% if form.errors %}
<script type="text/javascript">
  {% for field in form %}
    var field_input = document.getElementById("{{ field.auto_id }}");
    if (field_input) {
      field_input.classList.add("is-{% if field.errors %}in{% endif %}valid");
    }
  {% endfor %}
</script>  
{% endif %}

{% endblock %}