[Unit]
Description=Service For Firmware.TurkishJohnnys
After=network.target

[Service]
Restart=on-failure
User=jim
WorkingDirectory=/home/jim/sites/firmware_finder/source
ExecStart=/home/jim/sites/firmware_finder/.env/bin/gunicorn --bind unix:/tmp/firmware.turkishjohnnys.com.socket firmwarefinder.wsgi:application


[Install]
WantedBy=multi-user.target