[Unit]
Description=Service For **SERVER NAME**
After=network.target

[Service]
Restart=on-failure
User=jim
WorkingDirectory=/home/jim/sites/**SITE NAME**/source
EnvironmentFile=/home/jim/sites/**SITE NAME**/.env
ExecStart=/home/jim/sites/**SITE NAME**/virtualenv/bin/gunicorn --bind unix:/tmp/**SERVER NAME**.socket **PROJECT NAME**.wsgi:application


[Install]
WantedBy=multi-user.target