[Unit]
Description=Service For Firmware.TurkishJohnnys
After=network.target

[Service]
Restart=on-failure
User=jim
WorkingDirectory=/home/jim/sites/firmware_finder/source/firmwarefinder
ExecStart=/home/jim/sites/sites/firmware_finder/source/firmwarefinder /home/jim/sites/firmware_finder/.env/bin/gunicorn --bind unix:/tmp/firmware.turkishjohnnys.com.socket mysite.wsgi:application


[Install]
WantedBy=multi-user.target